.header{

background:white;

padding:25px;

border-radius:18px;

margin-bottom:20px;

box-shadow:0 6px 18px rgba(0,0,0,.06);

}

.header h2{

margin:0;

font-size:28px;

color:#102a43;

}

.header p{

margin-top:8px;

color:#7b8794;

}