<header class="header">
  <div class="container">
    <div class="navbar">

      <!-- Logo -->
      <a routerLink="/" class="logo">
        <span class="green">SAMA</span>
        <span class="orange">MARKET</span>
      </a>

      <!-- Menu -->
      <nav class="menu">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
        <a routerLink="/produits" routerLinkActive="active">Produits</a>
        <a href="#">Vendeurs</a>
        <a href="#">Offres</a>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
      </nav>

      <!-- Actions -->
      <div class="actions">

        <button class="btn-login" routerLink="/login">
          Connexion
        </button>

        <button class="btn-cart">
          <i class="bi bi-cart3"></i>
        </button>

      </div>

    </div>
  </div>
</header>