<div
    class="card"
    *ngIf="commande">

    <h2>

        Informations de la commande

    </h2>

    <div class="grid">

        <div class="item">

            <span class="label">

                Numéro

            </span>

            <strong>

                #SM-{{ commande.id }}

            </strong>

        </div>

        <div class="item">

            <span class="label">

                Date

            </span>

            <strong>

                {{ commande.date_creation | date:'dd/MM/yyyy HH:mm' }}

            </strong>

        </div>

        <div class="item">

            <span class="label">

                Paiement

            </span>

            <strong>

                {{ commande.paiement?.methode }}

            </strong>

        </div>

        <div class="item">

            <span class="label">

                Livraison

            </span>

            <strong>

                {{ commande.livraison?.statut }}

            </strong>

        </div>

        <div class="item">

            <span class="label">

                Statut

            </span>

            <span
                class="badge">

                {{ commande.statut }}

            </span>

        </div>

        <div class="item">

            <span class="label">

                Total payé

            </span>

            <strong
                class="price">

                {{ commande.montant_total }}

                FCFA

            </strong>

        </div>

    </div>

</div>