.hero{
    background:linear-gradient(135deg,#123b85,#1b5cb8);
    color:white;
    padding:80px 0;
}

.hero .container{
    max-width:1200px;
}

.hero-badge{
    display:inline-block;
    background:rgba(255,255,255,.15);
    padding:10px 18px;
    border-radius:30px;
    margin-bottom:25px;
    font-weight:600;
}

.hero h1{
    font-size:56px;
    font-weight:800;
    max-width:700px;
}

.hero h1 span{
    color:#ff9d1f;
}

.hero p{
    max-width:700px;
    margin:25px 0 40px;
    line-height:1.8;
    font-size:18px;
}

.hero-search{
    display:grid;
    grid-template-columns:2fr 1fr auto;
    gap:15px;
}

.hero-search input,
.hero-search select{
    height:60px;
    border:none;
    border-radius:15px;
    padding:0 20px;
    font-size:16px;
}

.hero-search button{
    height:60px;
    border:none;
    border-radius:15px;
    background:#ff9d1f;
    color:white;
    padding:0 35px;
    font-weight:700;
    cursor:pointer;
}

.hero-search button:hover{
    background:#e98b0d;
}

@media(max-width:768px){

.hero{
    padding:50px 20px;
}

.hero h1{
    font-size:38px;
}

.hero-search{
    grid-template-columns:1fr;
}

}