<div class="client-layout">

    <app-sidebar-client></app-sidebar-client>

    <div class="main-content">

        <header class="topbar">

            <div class="logo">
                <span class="green">SAMA</span>
                <span class="orange">MARKET</span>
            </div>

            <a routerLink="/" class="back-btn">
                <i class="bi bi-house-door"></i>
                Retour à la boutique
            </a>

        </header>

        <div class="breadcrumb">

            <span>Accueil</span>

            <i class="bi bi-chevron-right"></i>

            <span class="active">Mon compte</span>

        </div>

        <div class="page-content">

            <app-profil></app-profil>

        </div>

    </div>

</div>