<div class="stepper">

    <div
        class="step active">

        <div class="circle">

            1

        </div>

        <span>Panier</span>

    </div>

    <div class="line"></div>

    <div class="step">

        <div class="circle">

            2

        </div>

        <span>Livraison</span>

    </div>

    <div class="line"></div>

    <div class="step">

        <div class="circle">

            3

        </div>

        <span>Paiement</span>

    </div>

    <div class="line"></div>

    <div class="step">

        <div class="circle">

            4

        </div>

        <span>Confirmation</span>

    </div>

</div>