.stepper{

display:flex;

align-items:center;

margin:20px 0 25px;

}

.step{

display:flex;

align-items:center;

gap:10px;

}

.circle{

width:34px;

height:34px;

border-radius:50%;

background:#d9e2ec;

display:flex;

justify-content:center;

align-items:center;

font-weight:700;

color:#52606d;

}

.active .circle{

background:#f97316;

color:white;

}

.line{

flex:1;

height:2px;

background:#d9e2ec;

margin:0 12px;

}

.step span{

font-size:14px;

color:#52606d;

}