.detail-page{

max-width:1400px;

margin:auto;

padding:30px;

}

.top{

display:grid;

grid-template-columns:1fr 450px;

gap:40px;

align-items:start;

margin-bottom:50px;

}

.right{

display:flex;

flex-direction:column;

gap:25px;

}

@media(max-width:992px){

.top{

grid-template-columns:1fr;

}

}