<div class="card">

    <h3>

        Infos boutique

    </h3>

    <div class="ligne">

        <span class="icone">

            📍

        </span>

        <span>

            {{ boutique?.ville }},

            {{ boutique?.pays }}

        </span>

    </div>

    <div class="ligne">

        <span class="icone">

            📅

        </span>

        <span>

            Membre depuis

            {{ boutique?.annee_creation }}

        </span>

    </div>

    <div class="ligne">

        <span class="icone">

            🚚

        </span>

        <span>

            {{ boutique?.delai_livraison }}

        </span>

    </div>

    <div class="ligne">

        <span class="icone">

            🔄

        </span>

        <span>

            {{ boutique?.retour }}

        </span>

    </div>

    <div class="ligne">

        <span class="icone">

            💳

        </span>

        <span>

            {{ boutique?.paiements }}

        </span>

    </div>

</div>