<div class="dashboard">

    <div class="card">

        <div class="icon total">

            📦

        </div>

        <div class="content">

            <h3>

                {{ stats.total }}

            </h3>

            <p>

                Total commandes

            </p>

        </div>

    </div>

    <div class="card">

        <div class="icon progress">

            🚚

        </div>

        <div class="content">

            <h3>

                {{ stats.enCours }}

            </h3>

            <p>

                En cours

            </p>

        </div>

    </div>

    <div class="card">

        <div class="icon success">

            ✅

        </div>

        <div class="content">

            <h3>

                {{ stats.livrees }}

            </h3>

            <p>

                Livrées

            </p>

        </div>

    </div>

    <div class="card">

        <div class="icon money">

            💰

        </div>

        <div class="content">

            <h3>

                {{ stats.depense | number }}

                FCFA

            </h3>

            <p>

                Total dépensé

            </p>

        </div>

    </div>

</div>