.card{

background:white;

padding:30px;

border-radius:18px;

box-shadow:0 6px 18px rgba(0,0,0,.06);

margin-top:25px;

}

.card h2{

margin-bottom:20px;

color:#102a43;

}

.mode{

display:flex;

justify-content:space-between;

align-items:center;

padding:18px;

border:2px solid #e5e7eb;

border-radius:14px;

margin-bottom:15px;

cursor:pointer;

transition:.25s;

}

.mode:hover{

border-color:#1f4f95;

}

.mode.active{

border-color:#1f4f95;

background:#f8fbff;

}

.left{

display:flex;

gap:15px;

align-items:center;

}

.icon{

font-size:28px;

}

.left h4{

margin:0;

color:#243b53;

}

.left small{

color:#7b8794;

}

.price{

font-weight:700;

font-size:18px;

color:#f97316;

}