.header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

button{

background:#1f4f95;

color:white;

border:none;

padding:12px 22px;

border-radius:10px;

cursor:pointer;

font-weight:600;

}

button:hover{

background:#173d75;

}