<div class="dashboard">

  <div class="card total">

    <div class="icon">📦</div>

    <div>

      <h2>{{ stats.total }}</h2>

      <span>Commandes</span>

    </div>

  </div>

  <div class="card attente">

    <div class="icon">🟡</div>

    <div>

      <h2>{{ stats.en_attente }}</h2>

      <span>En attente</span>

    </div>

  </div>

  <div class="card livraison">

    <div class="icon">🚚</div>

    <div>

      <h2>{{ stats.expediees }}</h2>

      <span>Expédiées</span>

    </div>

  </div>

  <div class="card revenu">

    <div class="icon">💰</div>

    <div>

      <h2>{{ stats.revenus }} FCFA</h2>

      <span>Revenus</span>

    </div>

  </div>

</div>