<app-avis-header
    [total]="(avis$ | async)?.length || 0">
</app-avis-header>

<app-avis-stats
    [avis]="(avis$ | async) || []">
</app-avis-stats>

<app-avis-filter

    (rechercheChange)="rechercher($event)"

    (noteChange)="filtrerParNote($event)">

</app-avis-filter>

<app-avis-empty
    *ngIf="!(chargement$ | async) && ((avis$ | async)?.length || 0) === 0">
</app-avis-empty>

<div
    class="contenu"
    *ngIf="(avis$ | async)?.length">

    <app-avis-list

        [avis]="(avis$ | async) || []"

        (selection)="selectionnerAvis($event)">

    </app-avis-list>

    <app-avis-details

        [avis]="avisSelectionne">

    </app-avis-details>

</div>