.tabs{

    display:flex;

    gap:30px;

    background:white;

    padding:0 20px;

    margin-top:20px;

    border-radius:12px;

    border-bottom:1px solid #e8e8e8;

}

.tabs button{

    border:none;

    background:none;

    cursor:pointer;

    padding:18px 5px;

    font-size:16px;

    font-weight:600;

    color:#666;

    transition:.2s;

}

.tabs button.active{

    color:#1d4ed8;

    border-bottom:3px solid #1d4ed8;

}