<div class="tabs">

    <button
        (click)="changer('produits')"
        [class.active]="active==='produits'">

        Produits

    </button>

    <button
        (click)="changer('apropos')"
        [class.active]="active==='apropos'">

        À propos

    </button>

    <button
        (click)="changer('avis')"
        [class.active]="active==='avis'">

        Avis

    </button>

    <button
        (click)="changer('promotions')"
        [class.active]="active==='promotions'">

        Promotions

    </button>

</div>