<section class="hero-section">

  <app-header></app-header>

  <div class="hero-content">

    <span class="hero-chip">
      Marketplace local - Sénégal & Afrique de l'Ouest
    </span>

    <h1>
      Achetez et soutenez <span>vos commerçants</span>
    </h1>

    <p>
      Des milliers de produits locaux authentiques :
      artisanat, mode, alimentation, livrés directement chez vous.
    </p>

    <div class="hero-search">

  <input
    type="text"
    placeholder="Rechercher un produit..."
    [(ngModel)]="recherche"
    (keyup.enter)="rechercher()"
  >

  <div class="select-wrapper">
    <select>
      <option>Toutes les catégories</option>
    </select>
  </div>

  <button (click)="rechercher()">
    Rechercher
  </button>

</div>

  </div>

</section>