<div class="card">

    <div class="card-header">

        <h2>Mes adresses</h2>

        <button class="btn-add">
            <i class="bi bi-plus-lg"></i>
            Ajouter
        </button>

    </div>

    <!-- Adresse principale -->
    <div class="address-card">

        <div class="address-content">

            <div class="icon">
                <i class="bi bi-geo-alt-fill"></i>
            </div>

            <div class="details">

                <h4>Adresse principale</h4>

                <p>Dakar, Plateau</p>

                <span>Sénégal</span>

            </div>

        </div>

        <button class="btn-outline">
            Modifier
        </button>

    </div>

    <!-- Adresse de livraison -->
    <div class="address-card">

        <div class="address-content">

            <div class="icon">
                <i class="bi bi-geo-alt-fill"></i>
            </div>

            <div class="details">

                <h4>Adresse de livraison</h4>

                <p>Sacré-Cœur 3</p>

                <span>Dakar, Sénégal</span>

            </div>

        </div>

        <button class="btn-outline">
            Définir par défaut
        </button>

    </div>

</div>