.timeline-card{

background:white;

padding:25px;

margin-top:25px;

border-radius:16px;

box-shadow:0 8px 24px rgba(0,0,0,.08);

}

.timeline-item{

display:flex;

gap:20px;

position:relative;

padding-bottom:25px;

}

.timeline-item:not(:last-child)::before{

content:"";

position:absolute;

left:11px;

top:24px;

width:2px;

height:100%;

background:#d8dee9;

}

.dot{

width:22px;

height:22px;

border-radius:50%;

margin-top:4px;

flex-shrink:0;

}

.dot.active{

background:#2f8f4b;

}

.dot.future{

background:#2563eb;

}

.dot.expired{

background:#d32f2f;

}

.content h4{

margin:0;

color:#102a43;

}

.content p{

margin:5px 0;

color:#486581;

}

.content small{

color:#829ab1;

}