<div class="panel">

    <h3>Dernières commandes</h3>

    <table>

        <tr>

            <th>Client</th>

            <th>Produit</th>

            <th>Total</th>

            <th>Statut</th>

        </tr>

        <tr>

            <td>Moussa</td>

            <td>Samsung S25</td>

            <td>550 000 FCFA</td>

            <td>
                <span class="success">Livrée</span>
            </td>

        </tr>

        <tr>

            <td>Awa</td>

            <td>Casque</td>

            <td>30 000 FCFA</td>

            <td>
                <span class="waiting">Préparation</span>
            </td>

        </tr>

    </table>

</div>
